[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
graphene = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
graphene-sqlalchemy = "*"
psycopg2-binary = "*"
flask-graphql = "*"
flask-migrate = "*"
flask-script = "*"
python-dotenv = "*"
schema = "*"
email-validator = "*"
flask-mail = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
