[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
fastapi = "*"
graphene = "*"
starlette = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
graphene-sqlalchemy = "*"
psycopg2-binary = "*"
flask-graphql = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
